/* @font-face {
  font-family: 'x14y24pxHeadUpDaisy';
  src:url('../fonts/x14y24pxHeadUpDaisy.ttf') format('truetype');      
      font-weight: normal;
      font-style: normal;
} */

html {
  overflow-y: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;      /* Firefox 対応 */
}

html::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}

body {
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  /* font-family: 'x14y24pxHeadUpDaisy', sans-serif; */
  /* font-family: "Noto Sans JP", sans-serif; */
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

.wf-notosansjapanese { font-family: "Noto Sans JP"; }

h1 {font-size: 32px;}
h2 {font-size: 26px;}
h3 {font-size: 22px;}
h4 {font-size: 18px;}
p {font-size: 16px;}

.content {
  color: #fff;
  text-shadow: 5px 5px 10px #000;
  overflow-y: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;      /* Firefox 対応 */
}

.content::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}

.content h3 {
  text-align: center;
}

.content p {
  /* color: #99e6e8; */
  line-height: 2.5;
  font-size: 16px;
  text-shadow: 5px 5px 10px #000;
}

@media screen and (max-width: 750px) {

  .content {
    padding: 0 20px;
  }
  
  .content p {
    /* color: #99e6e8; */
    line-height: 2;
    font-weight: bold;
  
  }

}

