/* @font-face {
  font-family: 'DS-Digital';
  src:url('../fonts/ds-digital/DS-Digital.ttf.woff') format('woff'),
      url('../fonts/ds-digital/DS-Digital.ttf.svg#DS-Digital') format('svg'),
      url('../fonts/ds-digital/DS-Digital.ttf.eot'),
      url('../fonts/ds-digital/DS-Digital.ttf.eot?#iefix') format('embedded-opentype'); 
      font-weight: normal;
      font-style: normal;
} */

/* @font-face {
  font-family: 'ARCADE';
  src:url('../fonts/ARCADE.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
} */

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* font-family: 'Courier New', Courier, monospace; */
  /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* font-family: 'Orbitron', sans-serif; */
  /* font-family: 'DS-Digital', sans-serif; */
  /* font-family: 'ARCADE', sans-serif; */
  /* font-family: "Noto Sans JP", sans-serif; */
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

#title {
  position: absolute;
  width: 100%;
  left: calc(50% - 50%);
  text-align: center;
  z-index: 100;
  display: block;
  color: #00c2c7;
}

#title svg {
  fill: #00c2c7;
}

#title h3 {
  margin: 0;
  color: #fff;
}

#title.top {
  top: 45vh;
}

#title.bottom {
  bottom: 0;
}

.global-nav {
  position: fixed;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  color: #fff;
  font-size: 16px;
  padding: 0;
  margin: 30px 0;
  color: #00c2c7;
}

.global-nav li {
  opacity: 0.8;
  /* text-shadow: 1px 1px 2px #FFF; */
}

.global-nav li:hover {
  cursor: pointer;
  color: #99e6e8;
  opacity: 1;
  /* text-shadow: 0 0 5px #fff; */
}

.global-nav li.active {
  color: #99e6e8;
  opacity: 1;
}

#btn {
  position: fixed;
  /* 足した*/
  border: none;
  width: 50px;
  height: 50px;
  top: 20px;
  right: 40px;
  z-index: 999;
  background: none;
  display: none;
  opacity: 0.8;
}

.nav {
  display: none;
}

#btn:focus { outline:0; }

#btn:hover {
  cursor: pointer;
  opacity: 1;
}


#btn span{
  background: #99e6e8;
  width: 40px;
  height: 2px;
  display: block;
  position: absolute;
  top: 18px;
}

#btn span:before,
#btn span:after{
  background: #99e6e8;
  width: 100%;
  height: 100%;
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}


#btn span:before{
  transform: translate(0,13px);
  transition:0.3s all;
}
#btn span:after{
  transform: translate(0,-13px);
  transition:0.3s all;
}


#btn.is_active span {
  background: rgba(0,0,0,0);
}
#btn.is_active span:before{
  transform: rotate(225deg);
}
#btn.is_active span:after{
  transform: rotate(-225deg);
}


.description {
  position: absolute;
  z-index: 100;
  width: 800px;
  color: #fff;
  top: 20%;
  left: calc(50% - 400px);
}

.description p {
  margin: 0;
}


.frame-container {
  display: none;
  position: absolute;
  z-index: 100;
  top: 10%;
  border: none;
  opacity: 0;
  transition: all 0.6s;
  
}

.frame-container.center {
  width: 90vw;
  left: calc(50% - (90vw/2));
}

.frame-container.left {
  width: 50vw;
  left: calc(50% - (90vw/2));
  transform: perspective(900px) rotateY(15deg);
}

.frame-container.right {
  width: 50vw;
  right: calc(50% - (90vw/2));
  transform: perspective(900px) rotateY(-15deg);
}

.frame-container.fade-in {
  opacity: 1;
  display: block;
}

.frame {
  width: 100%;
  border: none;
  height: 75vh;
}

#close {
  position: absolute;
  font-size: 20px;
  top: 10px;
  right: 15px;
  z-index: 200;
  cursor: pointer;
  text-decoration: none;
  color: #005582;
}

#close.no_show {
  display: none;
}

.parts_comment {
  position: absolute;
  z-index: 100;
  padding: 20px;
  width: 15vw;
  background-color: rgba(0,0,0,0.6);
  display: none;
  opacity: 0;
  transition: all 0.6s;
  cursor: pointer;
}

.parts_comment h2, h3 {
  color: #c4feff;
  margin: 0;
  font-size: 18px;
}

.parts_comment h2 {
  text-align: center;
}

.parts_comment p {
  color: #fff;
  font-size: 14px;
}

.parts_comment.fade-in {
  opacity: 0.4;
  display: block;
}

.parts_comment.pc_01 {
  top: 100px;
  left: 15vw;
}

.parts_comment.pc_02 {
  top: 500px;
  left: 15vw;
}

.parts_comment.pc_03 {
  top: 300px;
  right: 15vw;
}

.parts_comment.pl_00 {
  width: 80vw;
  bottom: 150px;
  left: 10vw;
  cursor: default;
  opacity: 1;
}

.parts_comment.pl_01 {
  top: 100px;
  left: 12vw;
}

.parts_comment.pl_02 {
  top: 100px;
  left: 42vw;
}

.parts_comment.pl_03 {
  top: 100px;
  left: 72vw;
}


@media screen and (min-width: 1300px) {

  /* .frame-container {
    width: 1000px;
    right: calc(50% - 500px);
  } */

}

@media screen and (max-width: 768px) {

  #title.top, #title.bottom {
    top: 20px;
    left: 20px;
    width: 70vw;
  }

  #btn {
    display: block;
    top: 10px;
    right: 25px;
  }
  .global-nav{
    display: none;
  }

  /* ナビゲーション */
  .global-nav {
    opacity:0;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.8);
    /* background-color: rgba(230,230,255,0.9); */
    z-index: 500;
    transition: all 0.5s;
    padding-top: 10%;
    text-align: center;
  }
  .is_active.global-nav{
    display: block;
    opacity: 1;
  }

  .global-nav li {
    margin: 24px 0;
    font-size: 32px;
  }

  .global_nav li:hover {
    cursor: pointer;
    color: #99e6e8;
    /* color: #7aa5bd; */
    opacity: 1;

  }

  .frame-container {
    display: none;
    position: absolute;
    z-index: 100;
    /* top: 30vh; */
    left: calc(50% - (100vw/2));
    width: 100vw;
    
  }

  .frame-container.center {
    width: 100vw;
    left: calc(50% - (100vw/2));
  }

  .frame-container.left {
    width: 100vw;
    left: calc(50% - (100vw/2));
    transform: perspective(100vw) rotateY(0deg);
  }
  
  .frame-container.right {
    width: 100vw;
    right: calc(50% - (100vw/2));
    transform: perspective(100vw) rotateY(0deg);
  }
  
  .frame {
    width: 100%;
    border: none;
    height: 90vh;
  }

  .parts_comment {
    width: 80%;
  }

  .parts_comment.pc_01 {
    top: 50px;
    left: 0;
  }
  
  .parts_comment.pc_02 {
    top: 450px;
    left: 0;
  }
  
  .parts_comment.pc_03 {
    top: 250px;
    right: 0;
  }

  .parts_comment.pl_00 {
    width: 100vw;
    top: 50px;
    left: 0;
  }
  
  .parts_comment.pl_01 {
    top: 50px;
    left: 0;
  }
  
  .parts_comment.pl_02 {
    top: 250px;
    left: 0;
  }
  
  .parts_comment.pl_03 {
    top: 450px;
    left: 0;
  }

}



