/* @font-face {
  font-family: 'x14y24pxHeadUpDaisy';
  src:url('../fonts/x14y24pxHeadUpDaisy.ttf') format('truetype');      
      font-weight: normal;
      font-style: normal;
} */

html {
  overflow-y: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;      /* Firefox 対応 */
}

html::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}

body {
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  /* font-family: 'x12y20pxScanLine', sans-serif; */
  /* font-family: 'x14y24pxHeadUpDaisy', sans-serif; */
  /* font-family: "Noto Sans JP", sans-serif; */
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
}

h1 {font-size: 26px;}
h2 {
  font-size: 22px;
  text-align: center;
}
h3 {
  font-size: 18px;
  border-left: solid 8px #c4feff;
  padding-left: 10px;
}
h4 {font-size: 16px;}
p {font-size: 14px;}

.content {
  color: #fff;
  padding: 30px;
}

.content_inner {
  width: 80vw;
  margin: 0 auto;
}

.content h1, h2, h3, h4 {
  color: 	#c4feff;
}

.content p {
  line-height: 2.5;
}

figure {
  max-width: 350px;
  margin: 0;
  position: relative;
}

figcaption {
  text-align: center;
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  left: 60px;
  color: #fff;
}

img {
  width: 100%;
}

figure.left {
  float: left;
  margin-right: 20px;
}

figure.right {
  float: right;
  margin-left: 20px;
}

table {
  border-collapse: collapse;
  background-color: #c1e4e6;
  font-size: 14px;
  line-height: 2.5;
  margin: 30px auto;
}

table, th, td {
  border: 1px solid white;
}

th, td {
  padding: 10px;
}

th {
  width: 100px;
}

a {
  color: #005582;
}

iframe {
  display: block;
  margin: 50px auto;
}

.wf-notosansjapanese { font-family: "Noto Sans JP"; }

.youtube {
  width: 85vw;
  height: calc(85vw * 0.5625);
}

@media screen and (max-width: 768px) {
  h1 {font-size: 26px;}
  h2 {font-size: 20px;}
  h3 {font-size: 18px;}
  h4 {font-size: 14px;}
  p {font-size: 14px;}


  .content {
    padding: 10px 30px 30px 30px;
  }

  .content_inner {
    width: 100%;
    margin: 0 auto;
    
  }

  .content p {
    line-height: 2;
  }

  figure {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    max-width: 100%;
  }

  figcaption {
    left: 35px;
    font-size: 10px;
  }
}

